body {
  border: 1px solid darkslategrey;
  padding: 20px;
  background-color: darkslategrey;

  color: azure;
  font-family: monospace;
  font-size: 100%
}
h1 {
    color: coral;
    font-size: 2.5em;
}
p {
  border: 1px solid darkslategrey;
  padding: 30px;
  font-size: 1em;
}
#intro {
    font-size: 1.5em;
}
.colorful {
    color: white;
}
a:hover {
  color: #ff0000;
  text-decoration: : none;
}
