body {
  background-color: darkslategrey;
  background: darkslategrey url("dog_bg.jpg") cover no-repeat center top;
  padding: 20px;


  color: azure;
  font-family: monospace;
  font-size: 100%
}
h1 {
    color: coral;
    font-size: 2.5em;
}
p {
  padding: 30px;
  font-size: 1em;
}
#major {
  font-size: 1.5em;
}
#school span{
  font-size: 1em;
}

.colorful {
    color: white;
}
a:hover {
  color: #ff0000;
  text-decoration: : none;
}
