.title {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
    color: white;
}

.contacts {
    grid-column: 4 / span 10;
    grid-row: 3 / span 2;
    background-color: red;
}

.resume {
    grid-column: 4 / span 10;
    grid-row: 5 / span 3;
    background-color: green;
}

#github {
    grid-column: 4 / span 2;
    grid-row: 3 / span 2;
    background-color: blue;
}

#linkedin {
    grid-column: 8 / span 2;
    grid-row: 3 / span 2;
    background-color: blue;

}

#email {
    grid-column: 12 / span 2;
    grid-row: 3 / span 2;
    background-color: blue;

}
