<!--
@Title: contacts.component.html
@Author: Matthew Yu
@Description: section that provides contact links and resume.
-->

<div class="container" [style.background]="'url(../assets/images/standardMap1_1350x881.png)'" [style.backgroundSize]="'cover'" [ngStyle]="{'filter': 'drop-shadow(0 0 0.75rem #4444dd)'}">
    <!--"Contacts"-->
    <h1 class="title">
        Contact
    </h1>
    <!--contacts-->
    <a href="https://github.com/dimembermatt" id="github">
      <img src="../assets/images/icons/github.png">
    </a>
    <a href="mailto:matthewjkyu@gmail.com" id="email">
      <img src="../assets/images/icons/gmail.png">
    </a>
    <a href="https://www.linkedin.com/in/dimembermatt/" id="linkedin">
      <img src="../assets/images/icons/linkedin.png">
    </a>
    <!--resume-->
    <div class="resume">
        <object data="../assets/data/Matthew_Yu_Resume_Extended.pdf" type="application/pdf" style="width:100%;height:100%">
          <p>
            This browser does not support this PDF. Please download the PDF to view it:
            <a href="../assets/data/Matthew_Yu_Resume_Extended.pdf">Download PDF</a>.
          </p>
        </object>
    </div>
</div>
