<!--
@Title: contacts.component.html
@Author: Matthew Yu
@Description: section that provides contact links and resume.
-->

<div class="container" [style.background]="'url(../assets/images/standardMap1_1350x881.png)'" [style.backgroundSize]="'cover'" [ngStyle]="{'filter': 'drop-shadow(0 0 0.75rem #4444dd)'}">
    <!--"Contacts"-->
    <h1 class="title">
        Contacts
    </h1>
    <!--contacts-->
    <div class="contacts">
        <img id="github"
            src="../" alt="github">
        <img id="linkedin"
            src="../" alt="LinkedIn">
        <img id="email"
            src="../" alt="gmail">
    </div>
    <!--resume-->
    <div class="resume">
    </div>
</div>
