.container {
    height: 105vh;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 10px;

    justify-content: center;
    align-content: center;

    background-color: LightBlue;
}

.return {
    position:fixed;
    top: 6.25vh;
    right: 6.25vw;
    width: 6.25vh;
    height: 6.25vh;

    background-color: rgba(255, 255, 255, .6);
    color: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 99;
}
