<!--
@Title: coursework.component.html
@Author: Matthew Yu
@Description: coursework page component for dimembermatt.github.io/coursework. Displays the various sections of coursework.
-->
<body >
    <h1>Coursework</h1>
    <div>
        <p>
            Hello, this page gives a brief description of my experiences in selected classes, such as Intro to Embedded Systems or Digital Logic Design.
        </p>
        <p>
            A full list of classes I've taken can be found at the bottom.
        </p>
        <!--Expandable section for each class-->
        <!--List of other classes taken with relevant links-->
    </div>
</body>
