/* You can add global styles to this file, and also import other style files */
body {
    margin: auto;
    width: 95vw;
    /* background-color: rgb(126, 186, 206); */
    background-image: url('./assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.whitebox {
    padding: 2.5%;
    background-color: rgba(255, 255, 255, .6);
}
