<!--
@Title: section.component.html
@Author: Matthew Yu
@Description: generic section that spawns each section component on dimembermatt.github.io from a json file. Contains a title, text, and bg image.
-->

<!--Container holding component with a fixed size-->
<div class="container" [style.background]="'url(../assets/images/' + this.image + ')'" [style.backgroundSize]="'cover'" [ngStyle]="{'filter': 'drop-shadow(0 0 0.75rem #4444dd)'}">
    <div class="description">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
    </div>
</div>
