div {  /* 4x5 */
    width: 25%;
    height: calc(5*6.25%);
    border-radius: 50%;
    background-size: cover;

    background-color: rgba(13, 27, 63, .8);
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
